#container{
   margin: auto;
   width: 20%;
   
}
.internalDivs{
    width:5rem;
    height:5rem;
    background-color: rgb(231, 231, 231);
    text-align: center;    
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    cursor: pointer;
    
    
}
.rowInLine{
    float: left;
}

.forbitclick{
    cursor: not-allowed;
}
.makeRed{
    color: crimson;
}
.makeBlack{
    color: black;
}